<div class="jumbotron">
  <h1>Welcome to eBookStore</h1>
  <p>The largetst online Digital Books Store</p>

  <%= link_to "Books", books_path, class: "btn btn-primary"  %>
  <%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary"  %>
</div>
